@import '../main.scss';

.btn_inline {
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  &_span {
    margin-left: 5px;
    transition: margin-left .2s;
  }

  &:hover &_span {
    margin-left: 8px;
  }

  &:hover {
    color: $color-grey-dark-1;
    animation: pulsate 1s infinite;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

