@import '../main.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 7rem;
    align-content: space-around;
  }    
}

/////////////////
// LOGO
  .logoContainer {
    height: 4rem;
    width: 4em;
    margin-left: .4rem;

    @media only screen and (max-width: $bp-small){
    height: 3rem;
    width: 3rem;
    margin-left: 0;
    }
  }

  .logo {

  }

  /////////////////
// SEARCH

  .search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-smallest) {
      background-color: $color-grey-light-2;
    }    

    @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    
    }    

    &_input {
      font-family: inherit;
      font-size: inherit;
      color: inherit; 
      background-color: $color-grey-light-2;  
      border: none;
      border-radius: 40px;
      width: 80%;
      padding: .4rem .8rem;
      transition: all .2s;
      margin-right: -3.5rem; // merge with icon


      
      &:focus {
        outline: none;
        width: 100%;
        background-color: $color-grey-light-3;

        @media only screen and (max-width: $bp-smallest) {
          width: 90%;
        }    
      }

        &::-webkit-input-placeholder {
        color: $color-grey-light-4; 
        font-size: .9rem;
      }
    }

    &_input:focus + &_button {
      background-color: $color-grey-light-3;
    }

    &_button {
      border: none;
      border-radius: 40px;
      background-color: $color-grey-light-2;
      padding: 0 .8rem;

      &:focus {
        outline: none;
        background-color: $color-grey-light-3;
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &_icon {
      fill: $color-grey-light-4;
      height: 1.7rem; 
      width: 1.7rem;
    }
  }

/////////////////
// USER NAV

  .userNav {
    align-self: stretch;

    display: flex;  
    align-items: center;

    // direct children of nav, which is iconBox x 2 and user
    & > * {
      padding: 0 1.3rem;
      cursor: pointer;  
      height: 100%;

      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-small){
        padding: 0 .8rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        padding: 0 .4rem;
      }

      &:hover {
        background-color: $color-grey-light-2;
      }
    }


    &_iconBox {
      position: relative;
    }

    &_icon {
      height: 1.5rem;
      width: 1.5rem;
      fill: $color-grey-dark-3;
    }

    &_notification {
      border-radius: 50%;
      position: absolute;
      background-color: $color-primary;
      color: #fff;
      width: 1.1rem;
      height: 1.1rem;
      font-size: .5rem;
      z-index: 1;
      right: .7rem;
      top: .5rem;

      // flexbox for text inside an element! How cool is that!?
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_user {
      padding: 0 1.3rem 0 .5rem;
      @media only screen and (max-width: $bp-small){
        padding: 0 .4rem 0 .4rem;
      }
    }

    &_userPhoto {
      height: 2.7rem;
      width: 2.7rem;
      border-radius: 50%;
      margin-right: .5rem;
    }
  }


