@import '../main.scss';

// Page Layout ONLY

// Detailed section css in modules, components also in modules

.container {
  max-width: 75rem;
  margin: 5rem auto;
  background-color: $color-grey-light-2;
  box-shadow: $shadow-dark;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: none;
  }

}

.header {
  background-color: #fff;
  border-bottom: 1px solid $color-grey-light-2;
} 

.content {
  display: flex;
  @media only screen and (max-width: $bp-medium){
    flex-direction: column;
  }
}

.sidebar {   
  background-color: $color-grey-dark-1;
  flex: 0 0 18%;
}

.hotelView {
  background-color: #fff;
  flex: 1;   // same as flex: 1 0 auto;

}

