@import '../main.scss';

.container {
  max-width: 75rem;
  margin: 5rem auto;
  background-color: $color-grey-light-2;
  box-shadow: $shadow-dark;

  min-height: 30rem; 
}

.header {

  background-color: #fff;
  border-bottom: $color-grey-light-2;
} 

.content {
  display: flex;
}

.sidebar {   
  background-color: $color-grey-dark-1;
  flex: 0 0 18%;
}

.hotelView {
  background-color: #fff;
  background-color: orangered;
  flex: 1;   // same as flex: 1 0 auto;
}